@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #1f0b2b;
  --color-secudary:#baafc4;
  --color-background: #523961;
  --color-card: #ffffff;
  --color-font-first: #1b1111;
  --color-font-secudary: #222020;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

html,
body {
  background-color: var(--color-background);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
